.cartRecommend {
  margin-top: 60px;
  .cartRecommendTitle {
    font-size: 14px;
    color: #595959;
    margin-bottom: 0.65em;
  }

  .recommendItems {
    display: flex;
    margin-left: -2%;
  }
}
