@import '../../styles/constant';

.MainSection {
  border: 1px $border solid;
  border-top: none;
  width: calc(100% - 250px);
  max-width: 1190px;
  margin: 0 125px;
  padding: 33px;

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 46px;
    line-height: 1.2em;
  }
}
