@import '../../styles/constant';
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Playfair+Display:ital@0;1&family=Source+Sans+Pro:wght@400;700&display=swap');

// max-width: 1190px
// padding left right 125px

@mixin sectionBox {
  border: 1px $border solid;
  border-top: none;
  width: calc(100% - 250px);
  max-width: 1190px;
  margin: 0 125px;
  padding: 33px;

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 46px;
    line-height: 1.2em;
  }
}

.main {
  color: $text;
  background-color: $bg-light;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .blankDiv {
    @include sectionBox();
    height: 80px;
    text-align: center;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
    }
  }

  .mainBanner {
    position: relative;
    margin: 0;
    width: 100vw;
    aspect-ratio: 10 / 3;
    overflow: hidden;
    background-color: #000;

    .mainBannerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      z-index: 1000;

      h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
      }

      h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
      }
    }

    .slide {
      display: flex;
      align-content: center;
      width: 100%;
      opacity: 0.7;
      transition: opacity 800ms ease-in;

      .sliderImage {
        width: 100%;
        object-fit: cover;
      }

      &.active {
        height: 100%;
        opacity: 1;
        transition: opacity 800ms ease-in;
      }
    }
  }

  .seasons {
    .seasonsCardContainer {
      display: flex;
      justify-content: space-between;

      .seasonsCard {
        width: 23%;
        overflow: hidden;
        text-decoration: none;
        color: $text;
        transition: 200ms ease-in-out;

        &:hover {
          transform: scale(102%);

          & .seasonsCardWrap > img {
            filter: saturate(100%);
          }
        }

        .seasonsCardWrap {
          img {
            margin-bottom: 14px;
            filter: saturate(70%);
          }
        }

        h3 {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 8px;
        }

        h4 {
          font-family: 'Cutive Mono', monospace;
          font-size: 12px;
          line-height: 1.2em;
          margin-bottom: 4px;
        }
      }
    }
  }

  .brewery {
    border-top: none;
  }

  .souls {
    border-top: none;

    .soulsSlider {
      position: relative;
      margin-bottom: 40px;

      .soulsSliderWrap {
        display: flex;
        overflow: hidden;

        .soulsSliderImageWrap {
          display: flex;
          align-items: center;
          width: 100%;
          flex-shrink: 0;
          filter: saturate(60%);
          // transition: transform 500ms ease-in-out;

          .soulsSliderImage1-2 {
            display: flex;
            flex-direction: column;
          }

          .soulsSliderImage {
            &1 {
              margin-right: 12px;
              width: 60%;
              object-fit: contain;
            }

            &2 {
              width: 100%;
              margin-bottom: 18px;
              object-fit: contain;
            }

            &3 {
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }

      .fa-chevron-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba($color: #fff, $alpha: 0);
        padding: 10px 14px 10px 10px;
        font-size: 18px;
        color: rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;

        &:hover {
          color: rgba($color: #000000, $alpha: 0.6);
          background-color: rgba($color: #fff, $alpha: 0.5);
          transition: background-color 200ms ease;
        }
      }

      .fa-chevron-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba($color: #fff, $alpha: 0);
        padding: 10px 10px 10px 14px;
        font-size: 18px;
        color: rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;

        &:hover {
          color: rgba($color: #000000, $alpha: 0.6);
          background-color: rgba($color: #fff, $alpha: 0.5);
          transition: background-color 200ms ease;
        }
      }
    }
  }

  .collections {
    position: relative;
    border: 1px $border solid;
    border-top: none;
    width: calc(100% - 250px);
    max-width: 1190px;
    margin: 0 125px;
    height: 80vh;

    .collectionsBg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 200;
      object-fit: cover;
      filter: saturate(70%);
    }

    .collectionsItemsWrap {
      position: absolute;
      z-index: 300;
      height: 100%;
      display: flex;

      .collectionsItem {
        width: 25%;
        height: 100%;
        padding: 33px;
        padding: 50px;
        color: white;
        opacity: 0.6;
        transition: 300ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &.active {
          opacity: 1;
          transition: 300ms ease-in-out;
          padding-bottom: 80px;
        }

        h1 {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 16px;
          pointer-events: none;
        }

        p {
          font-family: 'Cutive Mono', monospace;
          line-height: 1.2em;
          pointer-events: none;
        }
      }
    }
  }
}
