@import '../../styles/constant.scss';
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Source+Sans+Pro:wght@200;400;700&display=swap');

.ProductList {
  color: $text;
  background-color: $bg-light;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $bg-light;
    border-top: 1px $border solid;
    border-bottom: 1px $border solid;

    .headerTitle {
      max-width: 1170px;
      margin: 0 auto;
      padding: 15px 15px 16px;
      font-family: 'Source Sans Pro', sans-serif;

      .breadCrumbs {
        font-size: 14px;
        font-weight: 300;
      }

      h1 {
        font-size: 19px;
        font-weight: 700;
      }
    }

    .filterBtn {
      box-sizing: content-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      height: 100%;
      padding: 0 20px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 100;
      border-top: 1px $border solid;
      border-bottom: 1px $border solid;
      border-left: 1px $border solid;
      background-color: #fff;

      &.active {
        .fa-plus {
          transform: rotate(-45deg);
          transition: 200ms ease;
        }
      }

      .fa-plus {
        font-size: 16px;
        transition: 200ms ease;
      }

      .filterModal {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 64px;
        right: 0;
        width: calc(100% + 1px);
        margin-top: 6px;
        padding: 5px 0 6px 20px;
        background-color: #fff;
        text-align: start;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        border: 1px $border solid;
        border-top: none;
        border-right: none;
        transition: 200ms ease;

        &.active {
          visibility: visible;
          opacity: 1;
          margin-top: 0;
          transition: 200ms ease;
        }

        li {
          margin-bottom: 7px;
        }
      }
    }
  }

  .banner {
    position: relative;
    width: 100%;
    aspect-ratio: 20 / 5;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
      filter: saturate(80%);
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      font-size: 32px;
      text-shadow: 0px 0px 4px rgba(61, 61, 61, 0.15);
    }
  }

  .list {
    padding-top: 90px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 90px 15px 0;

    .listFilter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      button {
        font-size: 15px;
      }
    }

    .listContainer {
      display: flex;
      flex-wrap: wrap;
      margin-left: -2%;
    }
  }
}
