@import '../../styles/constant.scss';
$margin-bottom: 12px;
$border-width: 2px;

.categoryExpandDrinks {
  div {
    display: inline-block;
    margin-bottom: $margin-bottom;
    font-size: 18px;
    cursor: pointer;
  }
  div:hover {
    border-bottom: $border-width solid black;
    margin-bottom: calc($margin-bottom - $border-width);
  }
}
