.categoryExpandDrinks {
  margin-top: 20px;
  font-size: 20px;

  div {
    margin: 10px 0px 10px 0px;
  }
  div:hover {
    display: inline-block;
    margin: 0px;
    border-bottom: 2px solid black;
  }
}
