@import '../../styles/constant.scss';

.headwrapper {
  display: flex;
  position: relative;
  border: 1px solid $border;

  .logoImg {
    object-fit: cover;
  }
}

.headerinner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.searchicon {
  display: flex;
  align-items: center;
  padding: 13px;
  border-left: 1px solid $border;
}
.searchwrapper {
  display: flex;

  flex: 1;
  width: 100%;

  img {
    width: 35px;
    height: 35px;
  }

  input {
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
  }
}

.letter {
  display: flex;
  align-items: center;
  border-left: 1px solid $border;
  padding: 13px;
}

.shoppingbag {
  border-left: 1px solid $border;
}

.loginSignup {
  display: flex;
  align-items: center;
  width: 350px;
  border-left: 1px solid $border;
  padding: 13px;
}

.headerNav {
  @include center;
  flex-direction: column;
  width: 100%;
}

.clickloginsignup {
  padding: 13px;
  font-size: 20px;
  font-family: 'Cutive', serif;
}

.category {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $border;
  border-top: 1px solid $border;
  font-size: 35px;
}
