@import '../../styles/constant.scss';

.backgroundwrapper {
  height: 100vh;
}

.register-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Cutive', serif;
    padding: 18px;
    margin-bottom: 22px;
  }

  p {
    margin-top: 20px;
    font-family: 'Cutive', serif;
    font-size: 20px;
  }
}

.firstnameform {
  display: flex;
  border: 2px solid rgb(177, 172, 172);
  border-bottom: none;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  .labelform {
    width: 200px;
    padding: 20px 40px 20px 20px;
    font-family: 'Cutive', serif;
    font-size: 22px;
    border: none;
  }

  .firstnameinput {
    width: 200px;
    border: none;
    font-size: 22px;
    outline: none;
  }
}

.lastnameform {
  display: flex;
  border: 2px solid rgb(177, 172, 172);
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  .labelform {
    width: 200px;
    padding: 20px 40px 20px 20px;
    font-family: 'Cutive', serif;
    font-size: 22px;
    width: 200px;
    border: none;
  }

  .lastnameinput {
    width: 300px;
    font-size: 22px;
    border: none;
    outline: none;
  }
}

.emailform {
  display: flex;
  border: 2px solid rgb(177, 172, 172);
  border-top: none;
  border-bottom: none;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  .email-labelform {
    width: 200px;
    padding: 20px 0px 20px 20px;
    font-family: 'Cutive', serif;
    font-size: 22px;
    border: none;
  }

  .emailinput {
    width: 300px;
    font-size: 22px;
    border: none;
    outline: none;
  }
}

.passwordform {
  display: flex;
  border: 2px solid rgb(177, 172, 172);
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;

  .labelform {
    width: 200px;
    padding: 20px 40px 20px 20px;
    font-family: 'Cutive', serif;
    font-size: 22px;
    border: none;
  }

  .passwordinput {
    width: 300px;
    font-size: 22px;
    border: none;
    outline: none;
  }
}

.asklogin {
  @include center;

  button {
    font-family: 'Cutive', serif;
    font-size: 20px;
    margin: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
}

.buttonwrap {
  @include center;

  .registerbutton {
    font-size: 22px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
  }
}
