@import '../../styles/constant';

.liList {
  li {
    margin: 10px 0px 10px 0px;
    font-size: 13px;
    cursor: pointer;
  }

  a {
    @extend li;
    display: block;
    color: $text;
    text-decoration: none;
  }
}
