@import '../../styles/constant.scss';

.backgroundWrapper {
  height: 100vh;
  background-color: $bg-light;
}

.formWrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 40px 0 40px 0;

  h1 {
    padding: 80px 18px 18px 18px;
    margin-bottom: 22px;

    font: {
      size: 30px;
      weight: bold;
      family: 'Cutive', serif;
    }
  }

  p {
    line-height: 30px;
    margin-top: 20px;
    font-family: 'Cutive', serif;
    font-size: 15px;
  }
}

.askSignup {
  @include center;
  margin-top: 40px;

  button {
    font: {
      family: 'Cutive', serif;
      size: 15px;
      style: oblique;
    }

    background-color: $bg-light;
    border: $border {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid;
    }

    margin: 15px;
    outline: none;
  }
}

.inputWrapper {
  .passwordInput {
    border-top: 1px $border solid;
  }
}

.buttonWrap {
  @include center;

  margin: {
    top: 30px;
    bottom: 40px;
  }

  .loginButton {
    width: 300px;
    padding: 10px;
    font-size: 15px;
  }
}
