@import '../../styles/constant.scss';

.backgroundWrapper {
  height: 100vh;
  background-color: $bg-light;
}

.formWrapper {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;

  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cutive', serif;
    padding: 18px;
    margin-bottom: 22px;
  }

  p {
    margin-top: 20px;
    font-family: 'Cutive', serif;
    font-size: 15px;
    line-height: 30px;
  }
}

.askSignup {
  @include center;
  margin-top: 40px;

  button {
    font: {
      family: 'Cutive', serif;
      size: 15px;
      style: oblique;
    }

    background-color: $bg-light;
    border: $border {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid;
    }

    margin: 15px;
    outline: none;
  }
}

.inputWrapper {
  border: 1px $border solid;

  .passwordInput {
    border-top: 1px $border solid;
  }
}

.buttonWrap {
  @include center;

  margin: {
    top: 30px;
    bottom: 40px;
  }

  .loginButton {
    width: 300px;
    font-size: 15px;
    padding: 10px;
  }
}
