@import '../../../styles/constant.scss';

.productList,
.searchList {
  .list {
    .listFilter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .filterStart {
        margin-right: 6px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
      }

      .filterItem {
        margin-right: 6px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        cursor: pointer;

        &:hover {
          text-decoration: line-through;
        }
      }

      button {
        font-size: 15px;
      }
    }
  }
}
