@import '../../../styles/constant.scss';
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Source+Sans+Pro:wght@200;400;700&display=swap');

.ProductList,
.searchList {
  .list {
    .listFilter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .filterStart {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
      }

      .filterItem {
        margin-right: 6px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
      }

      button {
        font-size: 15px;
      }
    }
  }
}
