.optionModal {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  padding: 0.4rem 0;
  background-color: #ffffff;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
  font-size: 14px;
  z-index: 1;

  ul {
    li {
      padding: 0.4rem 1rem;
      cursor: pointer;
      &:hover {
        background-color: #f7f5f5;
      }
    }
  }
}

.optionModal.on {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: fit-content;
  padding: 0.4rem 0;
  background-color: #ffffff;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
  font-size: 14px;
  z-index: 1;

  ul {
    li {
      padding: 0.4rem 1rem;
      cursor: pointer;
      &:hover {
        background-color: #f7f5f5;
      }
    }
  }
}
